
* {
    /*font-family: 'Lora', serif;
    font-family: 'Quattrocento Sans', sans-serif;*/
    font-family: 'Bodoni Moda', serif;
}

body {
    background-color: #181818;
}

.logo {
    width: 10rem;
    height: 10rem;
}

header {
    background-image: url(../assets/lystsim/whiteshadows.jpg);
    height: 80vh;
    background-size: cover;
}

#lysts {
    padding: 1rem 1rem 2rem 1rem;
    color: rgb(124, 124, 124);
}

#homepage-nav {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-left: 2rem;
}
a:link {
    color: grey;
    text-decoration: none;
}

.extra-nav {
    display: flex;
    justify-content: space-around;
    padding: 0 2rem ;
}

.nom-noms a:link {
    color: darkcyan;
}

a:hover {
    color: yellowgreen;
    font-family: 'Lora', serif;
 
}

a:visited {
    color: grey;
}

/*.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
}

.homepage li {
    list-style-type: none;
}

ul {
    padding-inline-start: 10px;
}*/